<div class="row">
  <div class='col-md-2 cell--user--email' >  
    <span class='<%= "alert alert-danger" if user.errors.details.keys.include?(:email) %>'  style="display: inherit;"  >
       <br />
        <%= f.text_field :email, value: user.email, autocomplete: 'off', size: 40, class: 'form-control', type: '' %>
       
      
      <label class='text-muted small form-text' for=''>Email</label>
    </span>
    <br />
  </div>
  <div class='col-md-2 cell--user--roles' >  
    <span class='<%= "alert alert-danger" if user.errors.details.keys.include?(:roles) %>'  style="display: inherit;"  >
       <br />
       <%= f.collection_check_boxes :role_ids, Role.all, :id, :label, {} do |m| %>
            <%= m.check_box %> <%= m.label %><br />
          <% end %>
      <label class='text-muted small form-text' for=''>Roles</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", admin_users_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
